{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "> 2%, not dead"
      }
    ]
  ],
  "plugins": [["@babel/transform-react-jsx", { "pragma": "h" }]]
}
